In [1]:
from config import DATA
import pandas as pd
# display all columns
pd.set_option('display.max_columns', 50)

In [3]:
df = pd.read_parquet(DATA["data"], engine='pyarrow')

In [4]:
df.head()

,gastro_business_id,gastro_name,gastro_address,gastro_city,gastro_state,gastro_postal_code,gastro_latitude,gastro_longitude,gastro_stars,gastro_review_count,gastro_categories,review_id,review_user_id,review_stars,review_useful,review_funny,review_cool,review_text,review_date,user_name,user_review_count,user_yelping_since,user_useful,user_funny,user_cool,user_elite,user_friends,user_fans,user_average_stars
0,1FURjeGJi_LBXcJQg8eskw,Padaro Beach Grill,3765 Santa Claus Ln,Carpinteria,CA,93013,34.406833,-119.548583,4.5,885,"American (Traditional), Restaurants, Seafood, ...",Egy2a4qZeXGr2aY6KMxxbg,qVc8ODYU5SZjKXVBgXdI7w,5.0,0,0,1,Remarkable food with beach access for the whol...,2017-05-09 23:21:36,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,3.91
1,mAqgsZBTN-wsShMpkz2o9g,Cantwell's Market & Deli,1533 State St,Santa Barbara,CA,93101,34.426754,-119.709503,3.0,142,"Food, Breakfast & Brunch, Grocery, Sandwiches,...",-ofc7qq3ooCkbcnG_aXQ4w,qVc8ODYU5SZjKXVBgXdI7w,2.0,1,0,0,GrubHub delivered quickly. Greek salad was not...,2021-04-30 01:16:25,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,3.91
2,Qw7tz-UkPrpXaVidWuab4Q,Philadelphia Museum of Art,2600 Benjamin Franklin Pkwy,Philadelphia,PA,19130,39.965573,-75.180969,4.5,767,"Art Museums, Jazz & Blues, Arts & Crafts, Amer...",hgqqvN5rhZhJHwoxuuNNKQ,qVc8ODYU5SZjKXVBgXdI7w,5.0,30,6,31,This is one of the premier museums in the coun...,2009-04-26 22:37:40,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,3.91
3,GnKtYBofkhA3ZmUBJPS-7w,Joes Diner,6350 S Virginia St,Reno,NV,89511,39.468303,-119.784580,2.5,125,"Restaurants, Diners",8IXQct-XDMLTpwMphEucDw,qVc8ODYU5SZjKXVBgXdI7w,5.0,0,0,0,Excellent service and great food. I was very ...,2014-06-03 01:51:18,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,3.91
4,QjQ-gtUnkne7jch0OLsPIg,Rosie's Café,1100 Nugget Ave,Sparks,NV,89431,39.533296,-119.758336,2.5,381,"Restaurants, Cafes, American (Traditional)",AdZeLu5acctA2N8S7pLmsw,qVc8ODYU5SZjKXVBgXdI7w,4.0,12,3,9,"Wonderful cafe food, excellent service and Ken...",2010-06-30 04:51:19,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,3.91

In [5]:
df.isna().sum()

gastro_business_id         0
gastro_name                0
gastro_address           329
gastro_city                0
gastro_state               0
gastro_postal_code         0
gastro_latitude            0
gastro_longitude           0
gastro_stars               0
gastro_review_count        0
gastro_categories          0
review_id                  0
review_user_id             0
review_stars               0
review_useful              0
review_funny               0
review_cool                0
review_text                0
review_date                0
user_name                  0
user_review_count          0
user_yelping_since         0
user_useful                0
user_funny                 0
user_cool                  0
user_elite             19000
user_friends               0
user_fans                  0
user_average_stars         0
dtype: int64

In [6]:
df.dtypes

gastro_business_id             object
gastro_name                    object
gastro_address                 object
gastro_city                    object
gastro_state                   object
gastro_postal_code             object
gastro_latitude               float64
gastro_longitude              float64
gastro_stars                  float64
gastro_review_count             int64
gastro_categories              object
review_id                      object
review_user_id                 object
review_stars                  float64
review_useful                   int64
review_funny                    int64
review_cool                     int64
review_text                    object
review_date            datetime64[ns]
user_name                      object
user_review_count               int64
user_yelping_since     datetime64[ns]
user_useful                     int64
user_funny                      int64
user_cool                       int64
user_elite                     object
user_friends                   object
user_fans                       int64
user_average_stars            float64
dtype: object

In [52]:
fill_na = {
    "str": "unknown",
    "int": 0,
}

,review_id,user_id,review_stars,review_useful,review_funny,review_cool,review_text,review_date,business_id,restaurant_name,restaurant_city,restaurant_state,restaurant_postal_code,restaurant_latitude,restaurant_longitude,restaurant_average_stars,restaurant_review_count,user_name,user_review_count,user_yelping_since,user_useful,user_funny,user_cool,user_elite,user_friends,category_0,category_1,category_2,category_3,category_4,category_5,category_6,category_7,category_8,category_9,category_10,category_11,category_12
10,"Today, Connor McDavid is the Oilers' best play...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,I heard this place gets packed with waits the ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"During our visit, the large blackboard menu on...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Sabrina's signature breakfast items are the hu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,We ordered two signature items and a couple se...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4987,Coop's Jambalaya; reuniting friends from coast...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4988,_________,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4989,"The selection is not limited to jambalaya, how...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4993,Despite the other patrons spitting on me as th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4994,Maybe everyone did; my friend turned to me at ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN